{% extends "layout.twig" %}
{% block body %}
    <div id="app"></div>
{% endblock %}
{# -- do not modify manually -- #}
{% block style %}
    {# style #}
    <link rel="stylesheet" href="/app.23a6172365bafb61170fad64f6e2edfb.css"/>
    {# style:end #}
{% endblock %}
{% block script %}
    {# script #}
    <script src="/app.fedcf384e512b8828938.js"></script>
    {# script:end #}
{% endblock %}
{# development #}
{% set _development = false %}
{# development:end #}