{% extends "layout.twig" %}
{% block body %}
    <div id="app"></div>
{% endblock %}
{# -- do not modify manually -- #}
{% block style %}
    {# style #}
    <link rel="stylesheet" href="/app.6e0eb084a5d54a5296e1849cb5af23b8.css"/>
    {# style:end #}
{% endblock %}
{% block script %}
    {# script #}
    <script src="/app.af6b7638f2674ec8231e.js"></script>
    {# script:end #}
{% endblock %}
{# development #}
{% set _development = false %}
{# development:end #}