{% extends "layout.twig" %}
{% block body %}
    <div id="app"></div>
{% endblock %}
{# -- do not modify manually -- #}
{% block style %}
    {# style #}
    <link rel="stylesheet" href="/app.1149bc592092aa7001494043c3229f5c.css"/>
    {# style:end #}
{% endblock %}
{% block script %}
    {# script #}
    <script src="/app.b0e3d5e1f9cfc6ebb701.js"></script>
    {# script:end #}
{% endblock %}
{# development #}
{% set _development = false %}
{# development:end #}