<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<app></app>
{{!-- style --}}
<link rel="stylesheet" href="/app.d41d8cd98f00b204e9800998ecf8427e.css"/>
{{!-- style:end --}}
{{!-- script --}}
<script src="/app.97e711b459b7fbcd0c34.js"></script>
{{!-- script:end --}}