{% extends "layout.twig" %}
{% block body %}
    <div id="app"></div>
{% endblock %}
{# -- do not modify manually -- #}
{% block style %}
    {# style #}
    <link rel="stylesheet" href="/app.89b619eb703288cdf07f58d96f0255b7.css"/>
    {# style:end #}
{% endblock %}
{% block script %}
    {# script #}
    <script src="/app.82985dfb246a9bb86bbc.js"></script>
    {# script:end #}
{% endblock %}
{# development #}
{% set _development = false %}
{# development:end #}