{% extends "layout.twig" %}
{% block body %}
    <div id="app"></div>
{% endblock %}
{# -- do not modify manually -- #}
{% block style %}
    {# style #}
    <link rel="stylesheet" href="/app.47564a97490afab559f19a7ac0827af4.css"/>
    {# style:end #}
{% endblock %}
{% block script %}
    {# script #}
    <script src="/app.d347328d3c9d98088a17.js"></script>
    {# script:end #}
{% endblock %}
{# development #}
{% set _development = false %}
{# development:end #}